:root{
    --primary-color: #576F72;
    --secondary-color: #E4DCCF;
    --accent-color: #7D9D9C;
    --accent2-color: #F0EBE3;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--primary-color);
    padding: 1.2em;
    min-width: 100%;
}

.description{
    font-weight: 500;
    font-size: 1.2rem;
}

.logo{
    text-align: center;
    color: var(--secondary-color);
    font-size: 1.4rem;
    font-weight: 700;
}

.content-form{
    text-align: center;
}

.search-container{
    background-color: var(--secondary-color);
}

.form-title{
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 8px;
}

.f-icon{
    font-size: 2rem;
}

.f-icon:hover{
    cursor: pointer;
    transform: translateY(-5px);
}

.footer-push{
    margin-bottom: 15rem;
}